@import url('../initial.css');
@import url('../../component/custom-checkbox/custom-checkbox.css');

.form{
    background: linear-gradient(219.1deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.112) 100%);
    padding: 12px 25px;
    border-radius: 12px;
}

.jobs-list .checkbox-box{
    min-height: 132px;
    margin-top: 20px;
}