@import url('../initial.css');
@import url('../../component/custom-checkbox/custom-checkbox.css');



.skill-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;
}

.checkbox-box{
    max-width: 182px;
}


@media screen and (min-width:768px) {
    .skill-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1032px) {
    .skill-list{
        grid-template-columns: repeat(4, 1fr);
    }
}