@import url('../initial.css');
@import url('../../component/custom-checkbox/custom-checkbox.css');


.form{
    background: linear-gradient(219.1deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.112) 100%);
    padding: 12px 25px;
    border-radius: 12px;
}

.skill-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;
}

.checkbox-box{
    max-width: 182px;
}


@media screen and (min-width:768px) {
    .skill-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:1032px) {
    .skill-list{
        grid-template-columns: repeat(4, 1fr);
    }
}