:root{
    --colorGray : #e0e0e0;
    --colorGreen : rgba(24, 169, 65, 1);
    --colorLightGreen : rgb(17, 146, 54);
    --colorSemiBlack : #272727;
    --colorOptionHover : #303030;
}



@media screen and (min-width : 768px) {
    h1{
        font-size: 64px;
    }
}