.custom-select-field{
    position: relative;
    z-index: 1;
}

.custom-select{
    background: rgba(0, 0, 0, 1);
    width: 100%;
    padding: 18px 25px;
    outline: none;
    color: var(--colorGray);
    text-indent: 5px;
    appearance: none;
    position: relative;
    background-image: url('../../../img/icon/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: 97% center;
    border: none;
    border-radius: 10px;
    z-index: 1;
}

.custom-select:focus{
    border: none;
    outline: none;
}

.custom-select option{
    padding: 12px;
    display: none;
}



.custom-select-list{
    padding-left: 0;
    position: absolute;
    width: 100%;
}

.custom-select-list li{
    list-style: none;
    color: #fff;
    background: var(--colorSemiBlack);
    width: 100%;
    padding: 16px 24px;
    transition: .2s;
}

.custom-select-list li:hover{
    background: var(--colorOptionHover) ;
    cursor: pointer;
}

.custom-select-list li:last-child{
    margin-bottom: 10px;
}